.equipment {
  display: grid;
  grid-template-areas: "armor helmet neck gloves" "cape middle middle weapon" "special middle middle shield" "pants middle middle belt" "ring1 ring2 boots empty";
  box-sizing: border-box;


  .armor, .helmet, .neck, .gloves, .cape, .weapon, .special, .shield, .pants, .belt, .ring1, .ring2, .boots, .empty {
    width: 7em;
    height: 7em;
    border: 1px solid #bd996f;
    margin: 1px;
    background-size: cover;
    cursor: pointer;
    &:hover {
      background-color: #bd996f;
    }
  }

  .itemsList {
    position: absolute;
    width: 22em;
    background-color: black;
    color: blue;
    margin-top: -2em;
    margin-left: -2em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    .itemOnList {
      width: 7em;
      height: 7em;
      border: 1px solid #bd996f;
      margin: 1px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      cursor: pointer;
    }
  }

  .armor {
    grid-area: armor;
    background-image: url("/images/armor.svg");
  }

  .helmet {
    grid-area: helmet;
    background-image: url("/images/helmet.svg");
  }

  .neck {
    grid-area: neck;
    background-image: url("/images/necklace.svg");
  }

  .gloves {
    grid-area: gloves;
    background-image: url("/images/gloves.svg");
  }

  .cape {
    grid-area: cape;
    background-image: url("/images/cloak.svg");
  }

  .weapon {
    grid-area: weapon;
    background-image: url("/images/axe-sword.svg");
  }

  .special {
    grid-area: special;
    background-image: url("/images/star.svg");
  }

  .shield {
    grid-area: shield;
    background-image: url("/images/shield.svg");
    background-size: cover;
  }

  .pants {
    grid-area: pants;
    background-image: url("/images/pants.svg");
  }

  .belt {
    grid-area: belt;
    background-image: url("/images/belt.svg");
  }

  .ring1 {
    grid-area: ring1;
    background-image: url("/images/ring1.svg");
  }

  .ring2 {
    grid-area: ring2;
    background-image: url("/images/ring2.svg");
  }

  .boots {
    grid-area: boots;
    background-image: url("/images/boots.svg");
  }

  .empty {
    grid-area: empty;
    background-image: url("/images/empty.svg");
  }

  .middle {
    grid-area: middle;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

}
