.equipment {
  display: grid;
  grid-template-areas: "armor helmet neck gloves" "cape middle middle weapon" "special middle middle shield" "pants middle middle belt" "ring1 ring2 boots empty";
  box-sizing: border-box;


  .armor, .helmet, .neck, .gloves, .cape, .weapon, .special, .shield, .pants, .belt, .ring1, .ring2, .boots, .empty {
    position: relative;
    box-sizing: border-box;
    width: 7em;
    height: 7em;
    border: 2px solid #bd996f;
    margin: 1px;
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    &:hover {
      border: 2px solid #AE3B48;
    }
    .unequipButton {
      border: 0;
      font-size: 0.75em;
      border-bottom: 1px solid #bd996f;
      border-left: 1px solid #bd996f;
      width: 2em;
      height: 2em;
      position: absolute;
      right: 0;
      top: 0;
      font-weight: bold;
      border-radius: 0;
      margin: 0;
    }
  }

  .itemsList {
    cursor: default;
    position: absolute;
    max-width: 80vw;
    min-width: 50em;
    background-color: black;
    margin-top: -2em;
    margin-left: -2em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0.5em;
    z-index: 1;
    opacity: 90%;
    .equippableItems {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: space-evenly;
      justify-content: flex-start;
    }
    .unequippableItems {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: space-evenly;
      justify-content: flex-start;
    }
    .itemOnList {
      width: 5em;
      height: 5em;
      border: 2px solid #0161E7;
      margin: 2px;
      background-size: auto 80%;
      background-repeat: no-repeat;
      background-position: center;
    }
    .unequippableItems .itemOnList {
      cursor: not-allowed;
    }
    .equippableItems .itemOnList {
      cursor: pointer;
    }
    .closeList {
      position: absolute;
      right: -0.5em;
      top: -0.75em;
      font-weight: bold;
      border-radius: 0;
    }
  }

  .armor {
    grid-area: armor;
    background-image: url("/images/armor.svg");
  }

  .helmet {
    grid-area: helmet;
    background-image: url("/images/helmet.svg");
  }

  .neck {
    grid-area: neck;
    background-image: url("/images/necklace.svg");
  }

  .gloves {
    grid-area: gloves;
    background-image: url("/images/gloves.svg");
  }

  .cape {
    grid-area: cape;
    background-image: url("/images/cloak.svg");
  }

  .weapon {
    grid-area: weapon;
    background-image: url("/images/axe-sword.svg");
  }

  .special {
    grid-area: special;
    background-image: url("/images/star.svg");
  }

  .shield {
    grid-area: shield;
    background-image: url("/images/shield.svg");
  }

  .pants {
    grid-area: pants;
    background-image: url("/images/pants.svg");
  }

  .belt {
    grid-area: belt;
    background-image: url("/images/belt.svg");
  }

  .ring1 {
    grid-area: ring1;
    background-image: url("/images/ring1.svg");
  }

  .ring2 {
    grid-area: ring2;
    background-image: url("/images/ring2.svg");
  }

  .boots {
    grid-area: boots;
    background-image: url("/images/boots.svg");
  }

  .empty {
    grid-area: empty;
    background-image: url("/images/empty.svg");
  }

  .middle {
    grid-area: middle;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

}
