.itemsDisplay {
  background-color: #d6cca9;
}

table {
  width: 90%;
  margin: 0 auto;
  tr,
  td {
    border: 1px solid black;
    text-align: center;
  }
  .image {
    width: 10%;
    img {
      margin: 0 auto;
    }
  }
  .name {
    width: 10%;
  }
  .type {
    width: 17%;
  }
  .requirements {
    width: 17%;
  }
  .attributes {
    width: 17%;
  }
  .psycho {
    width: 29%;
  }
}

.filters {
  grid-area: filters;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 1em;
  justify-content: space-around;
  img {
    height: 2em;
    width: 2em;
    display: inline;
    margin-right: 0.5em;
    align-self: center;
  }
  .search {
    display: flex;
    align-items: center;
    position: relative;
    width: 35%;
    height: 2.3em;
    input {
      font-size: 1.2em;
      box-sizing: border-box;
      height: 2em;
      width: 75%;
      box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
      background-image: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
      border: 1px solid #d6c1a9;
    }
    .itemsList {
      margin: 0;
      top: 100%;
      .moreItems {
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        border-color: black;
        cursor: default;
        p {
          margin: 0;
          padding-top: 3px;
          font-size: 2em;
        }
      }
    }
  }
  .filter {
    display: flex;
    width: 60%;
    max-width: 60%;
    min-height: 2.4em;
    .filtersList {
      box-sizing: border-box;
      position: relative;
      width: 90%;
      max-width: 90%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 2px;
      .multiselect {
        width: 7em;
        position: relative;
      }

      .selectBox {
        position: relative;
      }

      .selectBox select {
        width: 100%;
        font-weight: bold;
      }

      .overSelect {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
      }

      #checkboxes {
        position: absolute;
        border: 1px #dadada solid;
        width: 95%;
        background-color: white;
      }

      #checkboxes label {
        display: block;
      }

      #checkboxes label:hover {
        background-color: #1e90ff;
      }
    }
  }
}
