.itemsDisplay {
  background-color: #d6cca9;
}

table {
  width: 90%;
  margin: 0 auto;
  tr, td {
    border: 1px solid black;
    text-align: center;
  }
  .image {
    width: 10%;
    img {
      margin: 0 auto;
    }
  }
  .name {
    width: 10%;
  }
  .type {
    width: 17%;
  }
  .requirements {
    width: 17%;
  }
  .attributes {
    width: 17%;
  }
  .psycho {
    width: 29%;
  }
}

.filters {
  grid-area: filters;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 1em;
  justify-content: space-around;
  img {
    height: 2em;
    width: 2em;
    display: inline;
    margin-right: 0.5em;
    align-self: center;
  }
  .search {
    display: flex;
    align-items: center;
    position: relative;
    width: 35%;
    height: 2.3em;
    input {
      font-size: 1.2em;
      box-sizing: border-box;
      height: 2em;
      width: 75%;
      box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
      background-image: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
      border: 1px solid #d6c1a9;
    }
    .itemsList {
      margin: 0;
      top: 100%;
      .moreItems {
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        border-color: black;
        cursor: default;
        p {
          margin: 0;
          padding-top: 3px;
          font-size: 2em;
        }
      }
    }
  }
  .filter {
    display: flex;
    width: 60%;
    max-width: 60%;
    min-height: 2.3em;
    .filtersList {
      box-sizing: border-box;
      position: relative;
      width: 90%;
      max-width: 90%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
      background-image: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
      border: 1px solid #d6c1a9;
      padding: 2px;
      .chosenFilters {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .chosenFilter {
          font-size: 0.7em;
          margin: 1px;
          padding: 1px;
          border: 1px dashed black;
          background: lightgray;
          display: flex;
          align-items: center;
          button {
            height: 1em;
            width: 1em;
            padding: 0;
            margin: 0;
            margin-left: 2px;
            border: 1px solid black;
            border-radius: 0;
            background-color: inherit;
            background-image: url("/images/cross-icon.png");
            background-position: center;
            background-repeat: no-repeat;
            background-size: 70%;
          }
          button:hover {
            background-color: #e3e1e1;
          }
          p {
            margin: 0;
          }
        }
        .manyFilters {
          padding-left: 3px;
          padding-right: 3px;
        }
      }
      .chosenFilters:empty:before {
        content: attr(data-placeholder);
        color: gray;
      }
      .addFilter {
        height: 1.5em;
        margin-right: 3px;
        width: 1.5em;
        border: 1px solid #bd996f;
        box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
        border-radius: 0;
        background-image: url("/images/plus-icon.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 80%;
      }
      .filtersForm {
        width: 25em;
        min-width: 0;
        margin: 0;
        top: 100%;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .filterLines {
          display: flex;
          flex-wrap: wrap;
          margin-left: 1em;
          .filterLine {
            display: flex;
            align-items: center;
            width: 50%;
            margin-top: 2px;
            margin-bottom: 2px;
            label {
              margin-left: 0.5em;
            }
          }
        }
        .submit {
          width: 85%;
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          margin-top: 1em;

          input,
          button:not(.closeList) {
            border-radius: 8px;
            font-size: 1.3em;
            color: #d7d50e;
            box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
            cursor: pointer;
            background-color: black;
            border: 2px solid #ec8c42;
            width: 6em;
            &:hover {
              background-color: #322f3e;
            }
          }
          button.resetFilters  {
            color: #e81327;
          }
        }
      }
    }
  }
}
