.buffCalculator {
  width: 100%;
}

.skillCalculator .skills .buffs {
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  .buffsHeader {
    width: 80%;
    font-size: 1.25em;
  }
  .buff {
    width: 45%;
    grid-template-areas: "image name skillvalue buttons expand" "tooltip tooltip tooltip tooltip expand";
    grid-template-rows: auto auto;
    .skillName {
      margin-top: 0;
    }
  }
}
