.navbar {
  grid-area: navbar;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: #bdac6f;
  text-align: center;
  position: relative;
  border-top: 1px solid #bd996f;
  border-bottom: 1px solid #bd996f;
  .navigation {
    width: 80%;
    height: 100%;
    ul {
      list-style-type: none;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      text-transform: uppercase;
      padding-inline-start: 0;
      margin-block-start: 0;
      margin-block-end: 0;
      height: 100%;
      a {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 2em;
        padding-right: 2em;
        text-decoration: none;
      }
    }
    .selected {
      background-color: #bd996f;
    }
  }

  .languages {
    display: flex;
    margin-top: 0.7em;

    button {
      all: initial;
      width: 3em;
      height: 2em;
    }
    #pl {
      background-image: url("/images/pl.png");
      margin-right: 0.2em;
      background-size: 70%;
    }
    #en {
      background-image: url("/images/en.png");
      background-size: 80%;
    }
    #pl,
    #en {
      background-repeat: no-repeat;
      background-position: center;
      cursor: pointer;
    }
    button:hover {
      opacity: 0.7;
      background-color: inherit;
    }
  }
}

@media only screen and (max-width: 660px) {
  .navbar {
    .navigation {
      width: 100%;
      ul {
        justify-content: space-evenly;
      }
    }
    .languages {
      position: absolute;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      right: 1em;
      top: 100%;
      z-index: 1;
    }
  }
}
