.statsCalculator {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .linesAndEq {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 100%;
      flex-wrap: wrap;

      .statsAndRes {
        font-size: 1.1em;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        .resLines,
        .statLines {
          width: 49%;
          // border: 2px solid #bd996f;
          // border-radius: 5px;
          box-sizing: border-box;
          margin: 2px;

          .statLine {
            width: 100%;
            margin: 0.5em;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            // border: 2px solid $border-color;
            // background-color: #d4d6a9;
            padding: 0.5em 0.5em 0.5em 0;
            border-radius: 8px;
            min-height: 4em;

            img {
              align-self: center;
              width: 3em;
              height: 3em;
            }

            .statNameButtons {
              width: 80%;

              .statName {
                text-align: center;

                .tooltipIcon {
                  display: inline-block;
                  position: relative;
                  cursor: pointer;
                  img {
                    width: 1em;
                    height: 1em;
                  }
                  .regenTooltip {
                    position: absolute;
                    left: 60%;
                    bottom: 60%;
                    font-size: 0.75em;
                    background-color: black;
                    color: white;
                    z-index: 3;
                    width: max-content;
                    border: 2px solid #d6c1a9;
                    padding: 5px;
                    padding-left: 8px;
                    padding-right: 8px;
                    border-radius: 5px;
                    opacity: 0.9;
                    cursor: default;
                    animation: fadein 1s;
                    @keyframes fadein {
                      from {
                        opacity: 0;
                      }

                      to {
                        opacity: 0.9;
                      }
                    }
                  }
                }
              }

              .statButtons {
                text-align: center;
                button {
                  min-width: 3em;
                }
              }
            }
          }
          .statLine:first-child {
            margin-bottom: -0.5em;
          }
        }
      }
    }
    @media only screen and (max-width: 1340px) {
      .linesAndEq {
        flex-direction: column;

        .statsAndRes {
          width: 80%;
          justify-content: space-around;

          .resLines,
          .statLines {
            width: 35%;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 1070px) {
  .statsCalculator .stats .linesAndEq .statsAndRes .resLines,
  .statsCalculator .stats .linesAndEq .statsAndRes .statLines {
    width: 45%;
  }
}
@media only screen and (max-width: 850px) {
  .statsCalculator .stats .linesAndEq .statsAndRes .resLines,
  .statsCalculator .stats .linesAndEq .statsAndRes .statLines {
    width: 49%;
  }
}
@media only screen and (max-width: 570px) {
  .statsCalculator .stats .linesAndEq .statsAndRes .resLines,
  .statsCalculator .stats .linesAndEq .statsAndRes .statLines {
    width: 70%;
  }
@media only screen and (max-width: 450px) {
  .statsCalculator .stats .linesAndEq .statsAndRes .resLines,
  .statsCalculator .stats .linesAndEq .statsAndRes .statLines {
    width: 90%;
  }
  .statsCalculator .stats .linesAndEq .statsAndRes .statLines .statLine .statNameButtons .statName .tooltipIcon .regenTooltip {
    left: -60%;
    bottom: 90%;
  }
}
}
