.wrapper {
  .error {
    grid-area: content;
    padding-bottom: 2em;
    background-color: #d6cca9;
    position: relative;

    .intro {
      display: flex;
      width: 100%;
      flex-direction: column;
      .homeLine {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-top: 2em;
        align-items: center;
        justify-content: space-between;
        .screenshot {
          max-width: 100%;
          display: block;
          height: auto;
          max-height: 100%;
          border: 2px solid $border-color;
          padding: 2px;
          width: 45%;
        }
        .homeDescription {
          margin: 1em;
          width: 45%;
        }
      }

    }

  }
}
