@import url("https://fonts.googleapis.com/css?family=Eczar&display=swap");
@import "skillscalculator";
@import "statscalculator";
@import "equipment";
$main-font: "Eczar", serif;
$border-color: #d6c1a9;
$button-background: #bdac6f;

body {
  margin: 0;
}

.wrapper {
  font-size: 16px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  font-family: $main-font;
  display: grid;
  grid-template-columns: 10% auto 10%;
  grid-template-rows: auto auto auto;
  grid-template-areas: "header header header" "leftsidebar content rightsidebar" "footer footer footer";
  margin: 0;
  background: black;
  .exportBuild {
    display: flex;
    align-items: center;
    flex-direction: column;
    .exportLink {
      display: flex;
      align-items: center;

      #exportOutput {
        resize: none;
        height: 1.5em;
        width: 15em;
        line-height: 1.5em;
        margin-left: 1em;
        margin-right: 1em;
        text-align: center;
      }
      button {
        font-size: 0.9em;
      }
    }
  }

  button,
  input,
  select {
    font-family: $main-font;
    font-size: 1rem;
  }

  select {
    appearance: none;
    background-image: url("https://i.imgur.com/fgRuxQq.png"),
      linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
    background-repeat: no-repeat, repeat;
    background-position: right 0.7em top 50%, 0 0;
    background-size: 0.65em auto, 100%;
  }

  #charLvl {
    background-image: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  }

  button {
    border-radius: 8px;
    background-color: #bdac6f;
    border: 2px solid $border-color;
  }

  button:hover {
    background-color: #bd996f;
  }

  button:focus,
  input:focus,
  select:focus {
    outline-style: none;
  }

  button:disabled {
    opacity: 0.65;
    cursor: not-allowed;
    background-color: #bdac6f;
  }

  img {
    max-width: 100%;
    display: block;
    height: auto;
  }

  .header {
    grid-area: header;
    display: flex;
    // flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid $button-background;

    .logo {
      img {
        max-height: 5em;
        margin: 2em;
      }
    }

    .title {
      h1 {
        margin: 0;
        margin-top: 0.3em;
        text-align: center;
        text-transform: uppercase;
        font-size: 3.5em;
        letter-spacing: 0.05em;
        // background: linear-gradient(to bottom, #cb93bd 9%,#be1414 50%,#f78b8b 92%);
        background: linear-gradient(
          to bottom,
          #8e057e 26%,
          #981010 50%,
          #f43f3f 91%
        );
        // background: linear-gradient(to bottom, #cb93bd 9%,#870e0e 50%,#f78b8b 92%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }

  .intro {
    width: 80%;
    margin: 0 auto;
    text-align: justify;

    img {
      display: inline;
      max-height: 1em;
      max-width: 1em;
    }
  }

  .footer {
    grid-area: footer;
    color: white;
    padding-bottom: 1em;
    border-top: 2px solid $border-color;

    .authors {
      width: 50%;
      margin: 0 auto;
      text-align: center;

      a {
        color: inherit;
      }
    }
  }

  .leftSidebar {
    grid-area: leftsidebar;
    background-color: #d6cca9;
  }

  .rightSidebar {
    grid-area: rightsidebar;
    background-color: #d6cca9;
  }

  #cookieconsent {
    display: none;
    position: fixed;
    padding: 20px;
    left: 0;
    bottom: 0;
    background-color: #000;
    color: #fff;
    text-align: center;
    width: 100%;
    z-index: 99999;
    #cookieButton {
      margin-left: 1em;
    }
  }
  .calculator {
    padding-bottom: 2em;
    grid-area: content;
    display: grid;
    grid-template-rows: 8em auto;
    grid-template-areas: "classLevel" "calculators";
    background-color: #d6cca9;
    // clip-path: polygon(3% 0, 7% 1%, 11% 0%, 16% 2%, 20% 0, 23% 2%, 28% 2%, 32% 1%, 35% 1%, 39% 3%, 41% 1%, 45% 0%, 47% 2%, 50% 2%, 53% 0, 58% 2%, 60% 2%, 63% 1%, 65% 0%, 67% 2%, 69% 2%, 73% 1%, 76% 1%, 79% 0, 82% 1%, 85% 0, 87% 1%, 89% 0, 92% 1%, 96% 0, 98% 3%, 99% 3%, 99% 6%, 100% 11%, 98% 15%, 100% 21%, 99% 28%, 100% 32%, 99% 35%, 99% 40%, 100% 43%, 99% 48%, 100% 53%, 100% 57%, 99% 60%, 100% 64%, 100% 68%, 99% 72%, 100% 75%, 100% 79%, 99% 83%, 100% 86%, 100% 90%, 99% 94%, 99% 98%, 95% 99%, 92% 99%, 89% 100%, 86% 99%, 83% 100%, 77% 99%, 72% 100%, 66% 98%, 62% 100%, 59% 99%, 54% 99%, 49% 100%, 46% 98%, 43% 100%, 40% 98%, 38% 100%, 35% 99%, 31% 100%, 28% 99%, 25% 99%, 22% 100%, 19% 99%, 16% 100%, 13% 99%, 10% 99%, 7% 100%, 4% 99%, 2% 97%, 1% 97%, 0% 94%, 1% 89%, 0% 84%, 1% 81%, 0 76%, 0 71%, 1% 66%, 0% 64%, 0% 61%, 0% 59%, 1% 54%, 0% 49%, 1% 45%, 0% 40%, 1% 37%, 0% 34%, 1% 29%, 0% 23%, 2% 20%, 1% 17%, 1% 13%, 0 10%, 1% 6%, 1% 3%);

    .placeholder {
      display: none;
    }

    #classLvlWrapper {
      grid-area: classLevel;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 1.5em;
      margin-bottom: 1.5em;

      form {
        display: flex;
        width: 80%;
        justify-content: center;
        font-size: 1.5em;

        select {
          box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
          width: 30%;
          border-radius: 8px;
          font-size: 0.8em;
          color: #444;
          border: 1px solid $border-color;
          box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
          padding-left: 0.5em;
          margin-right: 0.5em;
        }

        #charLvl {
          width: 30%;
          border-radius: 8px;
          font-size: 0.8em;
          border: 1px solid $border-color;
          padding-left: 0.5em;
        }

        .submit {
          border-radius: 8px;
          font-size: 0.8em;
          color: #444;
          border: 2px solid #aaa;
          box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
          cursor: pointer;
          margin-left: 0.5em;
          text-transform: uppercase;
          background-color: #bdac6f;
          border: 2px solid $border-color;
          padding: 0.3em 0.75em;
        }

        .submit:hover {
          background-color: #bd996f;
        }
      }
    }

    .calculators {
      grid-area: calculators;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;

      .changeLevel {
        display: flex;
        width: 80%;
        align-items: center;
        justify-content: center;
        font-size: 1em;
        margin-bottom: 1em;
        // padding-bottom: 0.5em;
        // border-bottom: 8px solid #BD996F;
        // border-radius: 8px;
        .level {
          font-size: 1.5em;
          margin-left: 1em;
          margin-right: 1em;
        }

        button {
          font-size: 1.25em;
          width: 2em;
          height: 2em;
        }
      }

      .exportButton {
        margin-top: 1.5em;
        margin-bottom: 1em;
        text-transform: uppercase;
        font-size: 1.5em;
        padding-left: 0.5em;
        padding-right: 0.5em;
      }
      @media only screen and (max-width: 1030px) {
        .changeLevel {
          font-size: 1.2em;
        }
      }

      .tabs {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 2em;
        .separator {
          background-image: url("/images/vertical-banner.svg");
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          width: 15%;
        }
        button {
          width: 12em;
          font-size: 2em;
          border: none;
          background-color: #d6cca9;
          cursor: pointer;
        }
        button:hover {
          border-bottom: 10px solid #bd996f;
        }
        @media only screen and (max-width: 1030px) {
          button {
            font-size: 1.5em;
          }
        }
      }
    }
    @media only screen and (max-width: 1525px) {
      #classLvlWrapper {
        margin-top: 2.5em;
      }

      .calculators {
        flex-direction: column;
        align-items: center;
      }
    }
  }
}
@media only screen and (max-width: 1615px) {
  .wrapper {
    font-size: 14px;
    .header {
      .title {
        h1 {
          font-size: 3em;
        }
      }
    }
    button {
      font-size: 0.75rem;
    }
  }
}
@media only screen and (max-width: 1050px) {
  .wrapper {
    font-size: 12px;
    grid-template-columns: 100%;
    grid-template-areas: "header" "content" "footer";
    .header {
      .title {
        h1 {
          font-size: 2.5em;
        }
      }
    }
    .calculator {
      grid-template-rows: 15em auto;
      clip-path: none;

      #classLvlWrapper {
        margin-top: 1em;
        margin-bottom: 0.75em;

        form {
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-bottom: 1em;
          justify-content: space-around;

          .submit {
            width: auto;
            margin-left: 0;
          }

          select {
            width: 40%;
            margin-right: 0;
            text-align-last: center;
            padding-left: 0;
          }

          #charLvl {
            width: 40%;
            text-align: center;
            padding-left: 0;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 780px) {
  .wrapper .header .title h1 {
    font-size: 2em;
  }
  .wrapper .header .logo img {
    max-height: 3em;
  }
}
@media only screen and (max-width: 660px) {
  .wrapper .header .title h1 {
    font-size: 1.5em;
  }
}
@media only screen and (max-width: 520px) {
  .wrapper {
    font-size: 10px;
  }
}
@media only screen and (max-width: 420px) {
  .wrapper .header .title h1 {
    font-size: 1.24em;
  }
}
